* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

:root {
    --main-bgcolormain: #FFEFDA;
    --main-fontcolor1: #1d1d1d;
    --main-fontcolor2: #00AADA;
    --var-fontfamily: 'Nunito', sans-serif;
}

body {
    background-color: var(--main-bgcolormain);
    height: 100vh;
    width: 100%;
    font-family: var(--var-fontfamily);
    display: block;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6vh;
}


header .logotipo {
    width: 30vh;
    padding: 3vh;
    margin-right: 5vh;
}

.descripcion{
    width: 60vh;
}

.descripcion p{
    color: var(--main-fontcolor1);
    text-align: center;
    font-family: var(--var-fontfamily);
    font-size: 3vh;
    font-weight: 500;
    text-align: left;
    margin-top:2vh;
}


h1 {
    text-align: center;
    color: var(--main-fontcolor1);
    text-align: center;
    font-family: var(--var-fontfamily);
    font-size: 10vh;
    margin-top: 3vh;
    margin-bottom: 8vh;
    font-weight: bolder;
}

h1 span {
    color: var(--main-fontcolor2);
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 1vh 10vh;
    padding-bottom: 6vh;
}


button {
    width: 40vh;
    height: 40vh;
}

button:hover {
    cursor: pointer;
}

#feliz {
    background-image: url(/imgs/emojis-feliz.png);
    background-color: transparent;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 40vh;
    height: 40vh;
}

#triste {
    background-image: url(/imgs/emojis-triste.png);
    background-color: transparent;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 40vh;
    height: 40vh;
}

#enfadado {
    background-image: url(/imgs/emojis-enfadado.png);
    background-color: transparent;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 40vh;
    height: 40vh;
}

#miedoso {
    background-image: url(/imgs/emojis-miedoso.png);
    background-color: transparent;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 40vh;
    height: 40vh;
}

.circle {
    width: 3.5vh;
    height: 3.5vh;
    background: transparent;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: relative;
}

.circle::before,
.circle::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4vh;
    height: 4vh;
    border: 7px solid var(--main-fontcolor2);
    border-radius: 100%;
    animation: latido linear 3s infinite;
}

.circle::after {
    animation-delay: -1.5s;
}

@keyframes latido {
    0% {
        width: 4.2vh;
        height: 4.2vh;
        border: 7px solid var(--main-fontcolor2);
    }

    100% {
        width: 10vh;
        height: 10vh;
        border: 7px solid transparent;
    }
}

.iconMusic {
    width: 3vh;
    height: 3vh;
}

#iconMusicOnFeliz,
#iconMusicOnTriste,
#iconMusicOnEnfadado,
#iconMusicOnMiedoso {
    left: 12vh;
    display: none;
}

.iconStop {
    position: absolute;
    left: 13vh;
    bottom: 0.01vh
}

footer {
    display: flex;
    justify-content: center;
    vertical-align: bottom;
}

footer .textoFooter {
    font-size: 1.6vh;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    font-size: 2vh;
    visibility: hidden;
    width: 220px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px ;

    /* Position the tooltip */
    
    position: absolute;
    z-index: -1; 
    bottom: 100%;
    margin-left: -110px
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.key{
    color: var(--main-fontcolor2);
}